body{
    background-color: whitesmoke;
}

img{
    border-radius: 10px;
}

.flex-container {
    /*display: -webkit-flex;*/
    display: flex;
    width: 100%;
    height: 100%;
    /*background-color: aqua;*/
    justify-content: center;
}

.flex-item {
    width: 1000px;
    height: 100px;
    margin: 10px;
    /*background-color: brown;*/
    text-align: center;
}

.flex-container-footer {
    display: -webkit-flex;
    display: flex;
    /*width: 100%;*/
    height: 100%;
    /*background-color: aqua;*/
    justify-content: center;
    background-color: #3e3f42;
    border-radius: 10px;
}
.flex-item-footer {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}

.flex-container-image{
    display: flex;
    /*width: 100%;*/
    height: 100%;
    justify-content: space-around;
    background-color: black;
    border-radius: 10px;
}

.flex-item-image img{
    width: 95%;
    height: 100%;
    justify-content: space-around;
}

.flex-container-drinks {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    /*background-color: aqua;*/
    justify-content: center;
}
.flex-item-drinks {
    width: 30%;
    height: 100%;
    margin: 10px;
    background-color: burlywood;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    justify-content: space-between;
}

.image-drink-size img{
    width: 200px;
    height: 170px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
}
